
.navbar {
  overflow: auto;
  
  background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1));
  backdrop-filter: blur(100px); 
  -webkit-backdrop-filter: blur(100px);
  border-radius: 20px;
  border:1px solid rgba(255,255,255,0.18);
  box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
  width:100%;


}
.glass {
  background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1));
  backdrop-filter: blur(100px); 
  -webkit-backdrop-filter: blur(100px);
  border-radius: 20px;
  border:1px solid rgba(255,255,255,0.18);
  box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
  width:95%

}
.mobile-header-master-container{
  background-color: rgba(0,0,0,0.7);
  /* background-image: linear-gradient(147deg, #000000 0%, #04619f 74%); */
  /* padding: 1rem; */
}
.large-devices{
  display:block;
}
.small-devices{
  display:block;
}
@media (max-width: 500px) {
  .large-devices {
    display: none;
  }
}
@media (min-width:500px){
  .small-devices {
    display: none;
  }
}
.mobileheadercontainer{
 z-index:10;
 position: fixed;
 /* top:0; */
 right:0;
 height: 100%;
 width: 100%;
 font-size: larger;
 color: white;
 background-color: rgba(0,0,0,1);
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 /* align-items: end; */
}
.no-link{
  text-decoration:none  ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.mobileheaderitem{
  
  text-decoration-color: #000000;
 
  background-color: rgba(0,0,0,0);
  border:0;
  color: white;
  /* font-size: 20px; */
  /* font-weight: bolder; */
  
 

}

.header-button-containers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
}
/* heder button */
.buttons {
  text-decoration: none;
  position: relative;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  margin-left:3rem;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
 }

.buttons:hover {
  animation: ani 8s linear infinite;
  border: none;
 }

 @keyframes ani {
  0% {
   background-position: 0%;
  }

  100% {
   background-position: 400%;
  }
 }

.buttons:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
 }

.buttons:hover::before {
  filter: blur(20px);
 }

.buttons:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 }

 /* EXPLORE BUTTON  */
 .wrapper {
  perspective: 500px;
  transform: rotatex(10deg);
  animation: rotateAngle 6s linear infinite;
  margin: auto;
  width: auto;
 }

 .exploreButton {
  display: block;
  position: relative;
  margin: 0.5em 0;
  padding: 0.8em 2.2em;
  cursor: pointer;
  background: #FFFFFF;
  border: none;
  border-radius: 0.4em;
  text-transform: uppercase;
  font-size: 19px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  mix-blend-mode: color-dodge;
  perspective: 500px;
  transform-style: preserve-3d;
 }

 .exploreButton:before, .exploreButton:after {
  --z: 0px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  mix-blend-mode: inherit;
  border-radius: inherit;
  transform-style: preserve-3d;
  transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
 }

 .exploreButton span {
  mix-blend-mode: none;
  display: block;
 }

 .exploreButton:after {
  background-color: #5D00FF;
 }

 .exploreButton:before {
  background-color: #FF1731;
 }

 .exploreButton:hover {
  background-color: #FFF65B;
  transition: background 0.3s 0.1s;
 }

 .exploreButton:hover:before {
  --z: 0.04;
  animation: translateWobble 2.2s ease forwards;
 }

 .exploreButton:hover:after {
  --z: -0.06;
  animation: translateWobble 2.2s ease forwards;
 }

 @keyframes rotateAngle {
  0% {
   transform: rotateY(0deg) rotateX(10deg);
   -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
   animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }

  25% {
   transform: rotateY(20deg) rotateX(10deg);
  }

  50% {
   transform: rotateY(0deg) rotateX(10deg);
   -webkit-animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
   animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  }

  75% {
   transform: rotateY(-20deg) rotateX(10deg);
  }

  100% {
   transform: rotateY(0deg) rotateX(10deg);
  }
 }

 @keyframes translateWobble {
  0% {
   opacity: 0;
   transform: translate3d(calc(var(--z) * 0px), calc(var(--z) * 0px), calc(var(--z) * 0px));
  }

  16% {
   transform: translate3d(calc(var(--z) * 160px), calc(var(--z) * 160px), calc(var(--z) * 160px));
  }

  28% {
   opacity: 1;
   transform: translate3d(calc(var(--z) * 70px), calc(var(--z) * 70px), calc(var(--z) * 70px));
  }

  44% {
   transform: translate3d(calc(var(--z) * 130px), calc(var(--z) * 130px), calc(var(--z) * 130px));
  }

  59% {
   transform: translate3d(calc(var(--z) * 85px), calc(var(--z) * 85px), calc(var(--z) * 85px));
  }

  73% {
   transform: translate3d(calc(var(--z) * 110px), calc(var(--z) * 110px), calc(var(--z) * 110px));
  }

  88% {
   opacity: 1;
   transform: translate3d(calc(var(--z) * 90px), calc(var(--z) * 90px), calc(var(--z) * 90px));
  }

  100% {
   opacity: 1;
   transform: translate3d(calc(var(--z) * 100px), calc(var(--z) * 100px), calc(var(--z) * 100px));
  }
 }
