.contact {
  background:url('../ContactPage/Media/contactpgbg.jpeg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  overflow: auto;
  /* background:black; */
}
/*SOCIAL button */
.socialButton{
  font-size: 1rem;
  background-color: rgb(153, 123, 128);
  position:relative;
  padding: 8px;
  border-radius: 16px;
  text-decoration: none;
  margin: 0.5em;
  border-radius: 1rem;
  

} 
.sticker{
  top: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 30;
  
}
.mediabox{
  /* margin: 3rem; */
  cursor: pointer;
  margin-top: 5%;
  padding: 1%;
  display: flex;
  border-width: 100%;
  border-color: white;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 20px;
 width: 95%;
 padding: 1%;
  background-color: rgba(0,0,0,0.3);
}
.mediatag{
  color: white;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  font-size: 150%;
  padding-top: 5%;
  justify-content: space-evenly;
}
.mediabox:hover{
  background-color: black;
}
.contact_logo{
  margin: 1%;
}