.contact {
  background:url('../ContactPage/Media/contactpgbg.jpeg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
  /* background:black; */
}
/*SOCIAL button */
.socialButton{
  font-size: 1rem;
  background-color: rgb(153, 123, 128);
  position:relative;
  padding: 8px;
  border-radius: 16px;
  text-decoration: none;
  margin: 0.5em;
  border-radius: 1rem;
  

} 

/* FEEDBACK button */
.feedback{
 display: flex;
 align-items: center;
 justify-content: center;
 
}
.bttn {
 width: 170px;
 height: 60px;
 font-size: 18px;
 background: #fff;
 border: none;
 border-radius: 50px;
 color: #000;
 outline: none;
 cursor: pointer;
 transition: all 0.4s;
}

.bttn:hover {
 box-shadow: inset 0 0 0 4px #006e92,
              inset 0 0 0 8px #008b99,
              inset 0 0 0 12px #fadbaf,
              inset 0 0 0 16px #faa96e;
 background: #f16a38;
 color: #fff;
}
