
.projectspage{

    background-color: #0A0A0A;
    /* z-index: 200; */
    overflow: hidden;
    background-color: #0A0A0A;
  
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
       justify-content:center ;
}
.stickerpro{
    top: 0;
    position: fixed;
    z-index: 200;
    width: 100%;
    
  }
.projects-container{
  z-index: 100;
  position: relative;
    margin-bottom: 3rem;
height: fit-content;
backdrop-filter:  blur(15px);
    
}

.greeting{
    display: flex;
    justify-content: center;
    z-index: 200;
}
@media only screen and (max-width:600px) {
    .greeting{
        width: fit-content;
        height:fit-content;
    
    }
}

.uses_container{
    z-index: 200;
    text-align: center;
    margin-bottom: 1%;
  font-size: x-large;
    color: white;
    padding: 3px;
}
.viewbutton{
      z-index: 200;
    font-size: 2rem;
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 1%;
}
.mobile_cat_selector{
      z-index: 100;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
  
    text-align: center;

    
}
.selector{
      z-index: 200;

    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    font-stretch: expanded;
    /* margin: 1%; */
}
@media only screen and (max-width:500px) {
    .mobile_cat_selector{
      flex-direction: column;
      visibility: visible;
    
     
    }
    .categories_options_container{
    visibility: hidden;
    z-index: 100;
    }
    .projectspage{
        width: 100%;
    }
  }
.gitbutton{
      z-index: 200;
    font-size: 2rem;
    cursor: pointer;
    background-color: black;
    color: white;
    text-decoration: none;
    border:0;
    border-radius: 10px;
    margin: 1%;
}

.skill{
      z-index: 200;
    font-size: 2rem;
    color: black;
    border-radius: 20px;
    background-color: white;
    margin:2rem;
}
.button-container{
      z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 
}
.tag{
      z-index: 200;
      font-size:  1rem ; 
     text-align: center;
     color:antiquewhite;
     font-weight:bolder;
}
.desc{
      z-index: 200;
    margin:1rem;
    font-family: Inter;
       font-size:large ;
        text-align:  center ; 
        color:  white   ;
}
.uses{
      z-index: 200;
       font-size:  1rem ; 
       text-align:  center ; 
       color:  white   ;
}
.categories_options_container{
      z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: #1a1a1a ; */
    /* margin: 1%; */
}
.categories_option_unselected{
      z-index: 200;
  margin: 1%;
  font-size: large ;
  font-weight: bold;
  color: bisque;    
   
    padding: 1%;
    border-radius: 30%;
  cursor: pointer;
}
.categories_option_unselected:hover{
      z-index: 200;
    background-color: white;
    color: black;
 
}
.categories_option_selected{
      z-index: 200;
    margin: 1%;
    font-size: large ;
    font-weight: bold;
    color: black;    
      background-color: white;
      color: black;
      padding: 1%;
      border-radius: 30%;
    cursor: pointer;
  }

.projectcard {
   
      z-index: 200;
 
margin: 3rem;
/* background-color: #3f0d12; */
/* background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%); */

    border-radius: 20px;
    transition: all .3s;
   }

   .projectcard2 {
   
      z-index: 200;
   
    /* background-color: #1a1a1a; */

    transition: all .2s;
   }
   
   .projectcard2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .projectcard:hover {
    box-shadow: white;
   }