
.projectspage{
background: url('./Media/projectspage.jpg');
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
overflow: auto;
/* height:100%; */
width: 100vw;
height: 100vh;
}
.sticker{
    top: 0;
  
    position: fixed;
    width: 100%;
    z-index: 30;
    
  }
.projects-container{
  
    margin-bottom: 3rem;
height: fit-content
    
}

.greeting{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width:600px) {
    .greeting{
        width: fit-content;
        height:fit-content;
    
    }
}

.uses_container{
    text-align: center;
    margin-bottom: 1%;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

    color: black;
    font-size: medium;
    padding: 3px;
}
.viewbutton{
    font-size: 2rem;
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
    margin: 1%;
}
.mobile_cat_selector{
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
  
    text-align: center;

    
}
.selector{

    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    font-stretch: expanded;
    /* margin: 1%; */
}
@media only screen and (max-width:500px) {
    .mobile_cat_selector{
      flex-direction: column;
      visibility: visible;
    
     
    }
    .categories_options_container{
    visibility: hidden;
    }
    .projectspage{
        width: 100%;
    }
  }
.gitbutton{
    font-size: 2rem;
    cursor: pointer;
    background-color: black;
    color: white;
    text-decoration: none;
    border:0;
    border-radius: 10px;
    margin: 1%;
}

.skill{
    font-size: 2rem;
    color: black;
    border-radius: 20px;
    background-color: #3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    margin:2rem;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 
}
.tag{
      font-size:  1rem ; 
     text-align: center;
     color:antiquewhite;
     font-weight:bolder;
}
.desc{
    margin:1rem;
       font-size:  1rem ;
        text-align:  center ; 
        color:  white   ;
}
.uses{
       font-size:  1rem ; 
       text-align:  center ; 
       color:  white   ;
}
.categories_options_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: #1a1a1a ; */
    margin: 1%;
}
.categories_option_unselected{
  margin: 1%;
  font-size: large ;
  font-weight: bold;
  color: bisque;    
    background-color: #1a1a1a;
   
    padding: 1%;
    border-radius: 30%;
  cursor: pointer;
}
.categories_option_unselected:hover{
    background-color: darkred;
 
}
.categories_option_selected{
    margin: 1%;
    font-size: large ;
    font-weight: bold;
    color: bisque;    
      background-color: darkred;
      color: black;
      padding: 1%;
      border-radius: 30%;
    cursor: pointer;
  }

.projectcard {
   
 
margin: 3rem;
background-color: #3f0d12;
background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

    border-radius: 20px;
    transition: all .3s;
   }

   .projectcard2 {
   
   
    background-color: #1a1a1a;

    transition: all .2s;
   }
   
   .projectcard2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .projectcard:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }