.navbar {
  overflow: hidden;
  background-color: #101820FF;
  font-family: Arial;
  
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* GLASS effect */
.glass {
  background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255,255,255,0.18);
  box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);
}

.home {
  background:black;
}

.container {
  display: flex;
  align-content: center;
  flex-direction: row;
}
.footer {
  background-color: #101820FF;
  border-radius: 20px;
  border:1px solid rgba(255,255,255,1);
}

.footerName {
  
  color: aliceblue;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footerSocial {
  background-color: darkslateblue ;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
