.formcard{
    background-color: #ff4e00;
background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

}

.factscard{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.1));
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.18);
    box-shadow:0 8px 32px 0 rgba(0,0,0,0.37);

border-radius: 5px;
font-size: larger;
font-weight: bold;
padding: 1%;
cursor: pointer;
}

.factscard:hover{
    background: rgba(0,0,0,0);
    color: white;
}